.galleryelement{
    position: relative;
    width: 30%;
    margin-bottom: 3%;
    overflow: hidden;
}
.galleryelement img{
    z-index: -20;
    width: 100%;
    height: 100%;
}
.galleryelement a{
    display: block;
}
.description p, h3{
    color: whitesmoke;
    background-color: transparent;
}
.description {
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 0;
    padding: 25px;
    background-color:#000e;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    opacity: 0;
    transition: 0.3s;
}
.description::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    height: 200%;
    transform: scaleX(200%);
    width: 100%;
    z-index: -10;
    filter: blur(30px);
    opacity: 1;
}

.description h3 {
    text-transform: uppercase;
    font-size: 1.5rem
}
.description p {
    color: whitesmoke;
    line-height: 1.5rem
}
@media (hover: hover) and (pointer: fine) {
    main div:hover .description {
      opacity: initial;
    }
}