.gallery{
    /* display: grid;
    gap: 10px;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 2fr)); 
    grid-auto-rows: 500px;  */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
