.gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: var(--alturaMain);
    margin-bottom: 4vw;
}

.wrapper{
    margin: 6vw 11vw;
}

@keyframes spinner {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
}

.spinner{
  position: fixed;
  width: 100px;
  height: 100px;
  transition: 0.4s;
  z-index: 10;
  animation: spinner 1.5s ease-in-out infinite normal;
  top: 45%;
  left: calc(50% - 50px);
}
