main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px;                      
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

main img:nth-child(1) { 
    order: 1; 
}

main img:nth-child(5) { 
    order: 2; 
}
main img:nth-child(4) { 
    order: 3; 
}
main img:nth-child(3) { 
    order: 4; 
}
main img:nth-child(2) { 
    order: 5;
    grid-column: 1 / span 2; /* Ocupa las dos columnas */
}
main img:nth-child(6) { 
    order: 6;
    grid-column: 1 / span 2;
}