@import "https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap";
* {
    --onLink: #f55314;
    --alturaMain: 100vw;
    color: rgb(20, 20, 20);
    font-family: roboto, sans-serif;
    background-color: whitesmoke;
}
.on-link{
    color: var(--onLink);
    text-decoration: none;
}
.on-link-with-hover{
    color: black;
    text-decoration: none;
}
.on-link-with-hover:hover{
    color: var(--onLink);
}

#spinner{
    position: fixed;
    width: 100px;
    height: 100px;
    transition: 0.4s;
    z-index: 10;
    animation: spinner 1s linear infinite;
    top: 45%;
    left: calc(50% - 50px);
    will-change: transform;
    background: transparent;
}
  
@keyframes spinner{
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
}
  