
.grid-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.grid-item {
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5px;
}
.solo-photo{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5px;
}
#img3{
    width: 39%;
    margin: 0% 0% 0% 10%;
    margin-bottom: 5px;
}
#img4{
    width: 39%;
    margin: 0% 0% 0% 2%;
    margin-bottom: 5px;
}
#img5{
    width: 39%;
    margin: 0% 0% 0% 10%;
    margin-bottom: 5px;

} 
#img6{
    width: 39%;
    margin: 0% 0% 0% 2%;
    margin-bottom: 5px;

}
#img8{
    width: 39%;
    margin: 0% 0% 0% 10%;
    margin-bottom: 5px;

} 
#img9{
    width: 39%;
    margin: 0% 0% 0% 2%;
    margin-bottom: 5px;

}
#img10{
    width: 39%;
    margin: 0% 0% 0% 10%;
    margin-bottom: 5px;

} 
#img11{
    width: 39%;
    margin: 0% 0% 0% 2%;
    margin-bottom: 5px;

}
#img12{
    width: 39%;
    margin: 0% 0% 0% 10%;
    margin-bottom: 5px;

} 
#img13{
    width: 39%;
    margin: 0% 0% 0% 2%;
    margin-bottom: 5px;

}
#img14{
    width: 39%;
    margin: 0% 0% 0% 10%;
    margin-bottom: 5px;

} 
#img15{
    width: 39%;
    margin: 0% 0% 0% 2%;
    margin-bottom: 5px;
}
@media screen and (max-width: 768px){
    .grid-item{
        width: 60%;
    }
    #img3, #img4{
        width: 49%;
        margin: 0;
        margin-bottom: 5px;
    }
    #img4{
        padding-left: 2%;
    }
    #img5{
        width: 49%;
        margin: 0;
        margin-bottom: 5px;
    } 
    #img6{
        width: 49%;
        margin: 0 0 0 2%;
        margin-bottom: 5px;
    }
    .solo-photo{
        width: 100%;
    }
    #img8, #img9, #img10, #img11, #img12, #img13, #img14, #img15{
        width: 49%;
        margin: 0;
        margin-bottom: 5px;
    }
    #img9, #img11, #img13, #img15{
        margin: 0 0 0 2%;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 480px){
    .grid-item{
        width: 60%;
    }
    .solo-photo{
        width: 100%;
        height: auto;
    }
}
