@import "https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap";

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    padding: 6% 11% 0 10%;
    margin: 0 1.75% 4vw;
    gap: 2vw;
}
.nav-links li{
    margin-left: 2%;
}
.nav-links a{
    text-decoration: none;
}
.nav-link-on{
    color: var(--onLink);
}
.nav-links a:hover{
    color: var(--onLink);
}

.nav-brand{
    margin-right: auto;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .nav-links{
        gap: 1vw;
        justify-content: center;
        padding: 10% 6%;
        margin: 0 1.75% 1vw;
        overflow: hidden;
    }
}
@media screen and (max-width: 480px){
    .nav-links{
        margin: 0 1.75%;
        justify-content: space-evenly;
    }
    .nav-links li{
        text-align: center;
        margin: 0;
    }

}