@import "https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap";

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    padding: 4% 1% 0 0%;
    margin: 0 1% 1vw 0%;
    gap: 2vw;
}
.nav-brand-short{
    margin-right: auto;
    font-weight: bold;
    display: none;
}
.nav-links li{
    margin-left: 2%;
}
.nav-links a{
    text-decoration: none;
}
.nav-link-on{
    color: var(--onLink);
}
.nav-links a:hover{
    color: var(--onLink);
}

.nav-brand{
    margin-right: auto;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .nav-links{
        gap: 1vw;
        justify-content: center;
        padding: 5% 1% 5% 0%;
        margin: 0;
        overflow: hidden;
    }
}
@media screen and (max-width: 480px){
    .nav-links{
        margin: 0;
        padding: 10% 0 7% 0;
        justify-content: space-between;

        /* justify-content: space-evenly; */
        font-size: 0.9rem;
    }
    .nav-links li{
        /* text-align: center; */
        margin: 0 0.6rem 0 0.6rem
        /* padding: 0 6% 0 6%; */
    }
    .nav-brand{
        display: none;
    }
    .nav-brand-short{
        display: inline;
    }

}