@import "https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap";

.galleryelement{
    max-width: 100%;
    overflow-y: visible;
}
.galleryelement img{
    max-width: 100%;
    height: auto;
    /* transition: transform 0.3s;  */
}
.galleryelement a{
    max-width: 100%;
}
/* .galleryelement:hover img{
    transform: scale(1.1); 
} */
.description p, h3{
    color: whitesmoke; 
    background-color: transparent;
}
.description h3 {
    text-transform: uppercase;
    font-size: 1.5rem
}
.description p {
    color: whitesmoke;
    line-height: 1.5rem
}
.gallery {
  display: grid;
  /* gap: 2%; */
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 4vw;
  min-height: 100%;
}
.gallery .galleryelement{
    padding: 0.7rem;
} 
.wrapper{
    /* margin: ; */
    padding: 0.7rem;
    min-height: 35vh;
}
.text-above-image{
  color: rgb(114, 113, 113);
  margin: 0;
  font-size: 0.8rem;
}
.galleryelement > p.text-above-image:last-of-type{
  margin-bottom: 1.2rem;
}
.galleryelement > p > a{
  text-decoration: none;
  color: rgb(114, 113, 113);
}
.galleryelement > p > a.active{
  color: black;
  border-bottom: 1px solid #000 !important;
}
@media screen and (max-width: 768px){
    .gallery{
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      overflow: hidden !important;
      /* gap */
      margin: 0 auto;
    }
    .galleryelement{
      width: 95%;
    }
    .wrapper {
      margin: 0; 
      padding: 0rem;
      width: 98%; 
    }
}
  
@media screen and (max-width: 480px){
  .gallery{
    gap: 0.4rem;
    overflow: hidden !important;
  }
  .galleryelement{
    width: 99%;
  }
  .text-above-image{
    font-size: 60%;
  }
}