.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 4rem;
    font-size: 1rem;
}
  
.footer-left {
    color: #1c1c1c;
}
  
.footer-center {
    display: flex;
    gap: 4vw; 
}
  
.footer-center a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 20px; 
}
  
.footer-right {
    color: #1c1c1c;
    font-size: 14px;
}

.footer a{
    text-decoration: none;
}
.footer a:hover{
    color: var(--onLink);
}

@media screen and (max-width: 800px){
    .footer{
        flex-direction: column;
    }
    .footer-left{
        padding: 2rem 0 2rem 0;
        order: 2;
    }
    .footer-center{
        order: 1;
    }
    .footer-right{
        order: 3;
    }   
}